name: Django CI Github

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:


  job_id:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest

    steps:
    - uses: 'actions/checkout@v2'

    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        workload_identity_provider: 'projects/532449317655/locations/global/workloadIdentityPools/githubaction/providers/github'
        service_account: 'github-actions@gcp-l-390008.iam.gserviceaccount.com'

    - id: 'compute-ssh'
      uses: 'google-github-actions/ssh-compute@v0'
      with:
        instance_name: 'instance-1'
        zone: 'us-central1-a'
        ssh_private_key: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCYQeViPLVrkQXwvWLVPZhvr3GupEb7kxSjG+wt7XDQAWFmregWsDISXghXNlASJU3HURy2Jj5+bi2tpGmZtdTqZBu9ljCiqqFtWgY6ZpOkbIAedBxHdMSFuHeQUsze/keCa7P9BKkF/mi1592oEjrsRuYGIUCBnuIyjTTdn+CWbAvyJ9mTnLpARf+aYcz5w0xtwOLXqYVAaGAoq3RUjWXZnFxJBq1qI2dfbQhhLPgdaRfvppb6aJ/voZKkDvaxRsAHryQSDfBpjP+jTF326du39t8u0/FuFrlU87MF3e8DIiLuOWA0I/zICHt1T9v9Q3V/eef6qCfu25SaaSKEl+U1 google-ssh {"userName":"mohanpandit131@gmail.com","expireOn":"2023-06-18T11:02:12+0000"}'
        command: 'echo Hello world'

    # Example of using the output
    - id: 'test'
      run: |-
        echo '${{ steps.compute-ssh.outputs.stdout }}'
        echo '${{ steps.compute-ssh.outputs.stderr }}'

